@import "tailwindcss";

@theme {
  --default-font-family: "Arial", sans-serif;
  
  --color-shadow: #071A11;
  --color-green-50: #DCFFE3;
  --color-green-100: #97C9A5;
  --color-green-200: #669173;
  --color-green-500: #1B6139;
  --color-green-600: #14432B;
  
  --breakpoint-fix: 770px;
}

#root {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #000;
}

main {
  box-shadow: 0px 0px 10px #00000088;
  background-color: #ffffff;
  width: 80vw;
  margin: auto;
  margin-bottom: 20px;
  padding: 2rem;
  border-radius: 0 0 1rem 1rem;
}

h1, h2, .buttons {
  font-family: "Noto Serif", serif ;
  font-weight: 900;
  text-transform: uppercase;
}

h2 {
  background-color: var(--color-green-600);
  color: var(--color-green-100);
  padding: 0.5rem;
  font-size: 1.3rem;

}

main p {
  text-indent: 2rem;
  text-align: justify;
  margin: 1rem 0;
}

.image {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.image img {
  box-shadow: 0px 0px 10px #000;
}

.image span {
  color: var(--color-gray-400);
  font-weight: 400;
  font-size: 0.7rem;
}

.likes span {
  color: var(--color-green-500);
  font-weight: 700;
  font-size: 0.9rem;
}

.likes div div span {
  font-size: 1rem;
}

header p, footer p, .prayer {
  font-family: "Caveat", cursive;
  font-weight: bold;
}

h3 {
  color: var(--color-green-500);
  font-weight: 700;
  border-top: 1px solid var(--color-gray-300);
  padding-top: 0.7rem;
  margin-top: 2rem;
}

.ref a {
  display: flex;
  gap: 0.2rem;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  color: var(--color-gray-500);
  font-size: 0.8rem;
}

.ref a:hover {
  color: var(--color-gray-300);
}

.ref a img {
  width: 1rem;
}

.buttons {
  display: block;
  margin: auto;
  background-color: var(--color-green-500);
  color: var(--color-green-100);
  text-align: center;
  padding: 0.5rem;
  width: 15rem;
  font-size: 1.5rem;
  margin-top: 1rem;
  border-radius: 10px;
  box-shadow: 0px 0px 8px #000;
}

.buttons:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: var(--color-green-600);
  transition: 0.3s;
}

@media (max-width: 500px) {
  h2 {
    font-size: 1rem;
  }

  main {
    width: 95vw;
  }

  main p {
    text-indent: 1rem;
  }
}

@media (min-width: 1050px) {
  main {
    width: 70vw;
  }

  .prayer {
    width: 30rem;
    text-align: center;
    margin: 4rem auto;
  }

  .lgImg {
    width: 40rem;
    display: block;
    margin: auto;
  }
}